[Desktop Entry]
Name[es]=Eyedropper
Name[eu]=Eyedropper
Name[de]=Eyedropper
Name[fr]=Pipette
Name[it]=Contagocce
Name[nl]=Eyedropper
Name[tr]=Damlalık
Name[ru]=Eyedropper
Name[cs]=Eyedropper
Name[zh_CN]=Eyedropper
Name[uk]=Піпетка
Name=Eyedropper
GenericName[es]=Selector de color
GenericName[eu]=Kolore-hautagailua
GenericName[de]=Farbwähler
GenericName[fr]=Sélecteur de couleurs
GenericName[it]=Selettore di colori
GenericName[nl]=Kleurenkiezer
GenericName[pt]=Seletor de Cores
GenericName[tr]=Renk Seçici
GenericName[ru]=Выбор цвета
GenericName[cs]=Vybírač barev
GenericName[zh_CN]=颜色拾取器
GenericName[uk]=Вибір кольору
GenericName=Color Picker
Comment[de]=Farbe auswählen und formatieren
Comment[fr]=Choisissez et formatez des couleurs
Comment[it]=Preleva e sistema i colori
Comment[nl]=Kies en formatteer kleuren
Comment[pt]=Selecione e formate as cores
Comment[tr]=Renkleri seç ve biçimlendir
Comment[ru]=Выбирайте и форматируйте цвета
Comment[cs]=Vyberte a formátujte barvy
Comment[zh_CN]=拾取并格式化颜色
Comment[ca]=Escull i formata colors
Comment[uk]=Обирайте та форматуйте кольори
Comment=Pick and format colors
Type=Application
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=eyedropper com.github.finefindus.eyedropper
Terminal=false
Categories=GNOME;GTK;Development;Graphics;Utility;WebDevelopment;
Keywords[es]=Gnome;GTK;Color;Selector de color;Selector;Paleta;
Keywords[eu]=GNOME;GTK;Kolorea;Kolore-hautagailua;Hautagailua;Paleta;
Keywords[de]=Gnome;GTK;Farben;Farbwähler;Wähler;
Keywords[fr]=Gnome;GTK;Color;Color Picker;Picker;Palette;Pipette;couleur;sélecteur;eyedropper;
Keywords[it]=Gnome;GTK;Color;Color Picker;Picker;Palette;pipetta;colore;selettore;eyedropper;tavolozza;contagocce;
Keywords[nl]=Gnome;GTK;Color;Color Picker;Picker;Palette;Kleur;Kleurenkiezer;Kiezer;Selecteren;Palet;
Keywords[pt]=Gnome;GTK;Cores;Cor Seletor;Seletor;Paleta;
Keywords[tr]=Gnome;GTK;Renk;Renk Seçici;Seçici;Palet;
Keywords[ru]=Gnome;GTK;Color;Picker;Цвет;Выбор цвета;Пипетка;Палитра;
Keywords[cs]=Gnome;GTK;Barva;Výběr Barev;Vybírač barev;Výběr;Vybírač;Paleta;
Keywords[zh_CN]=Gnome;GTK;Color;Color Picker;Picker;Palette;颜色;色彩;拾取器;吸取器;色板;调色盘;
Keywords[uk]=Gnome;GTK;Color;Color Picker;Picker;Palette;гном;гтк;колір;піпетка;палітра;обрати;
Keywords=Gnome;GTK;Color;Color Picker;Picker;Palette;
Icon=/home/melanie/.local/share/icons/Colloid-Pink-Light/apps/scalable/eyedropper.svg
StartupNotify=true
X-Flatpak=com.github.finefindus.eyedropper
