[Desktop Entry]
Name[tr]=Mousai
Name[zh_Hans]=Mousai
Name[pt_BR]=Mousai
Name[pt]=Mousai
Name[id]=Mousai
Name[it]=Mousai
Name[sv]=Mousai
Name[cs]=Mousai
Name[ru]=Mousai
Name[de]=Mousai
Name[fil]=Mousai
Name[fa]=Mousai
Name[fr]=Mousai
Name[es]=Mousai
Name[nb_NO]=Mousai
Name[nl]=Mousai
Name[pl]=Mousai
Name[eo]=Mousai
Name[eu]=Mousai
Name[oc]=Mousai
Name[ja]=Mousai
Name[fi]=Mousai
Name[ar]=موساي
Name[uk]=Mousai
Name[hr]=Mousai
Name[hu]=Mousai
Name[sr]=Моусаи
Name[gl]=Mousai
Name[ro]=Mousai
Name[ms]=Mousai
Name[ca]=Mousai
Name[et]=Mousai
Name[ta]=மௌசாய்
Name[el]=Mousai
Name[hi]=Mousai
Name[si]=Mousai
Name[be]=Mousai
Name=Mousai
Comment[tr]=Şarkıları saniyeler içinde tanıyın
Comment[zh_Hans]=几秒钟内识别歌曲
Comment[pt_BR]=Identifique músicas em segundos
Comment[pt]=Identifique músicas em segundos
Comment[id]=Identifikasi lagu dalam hitungan detik
Comment[it]=Identifica le canzoni in pochi secondi
Comment[sv]=Identifiera låtar på sekunder
Comment[cs]=Identifikujte skladby během sekund
Comment[ru]=Распознавайте песни за секунды
Comment[de]=Lieder in Sekunden erkennen
Comment[fil]=Mag-identify ng kanta
Comment[fa]=شناسایی آهنگ ها در ثانیه
Comment[fr]=Identifier des titres en quelques secondes
Comment[es]=Identifique canciones en segundos
Comment[nb_NO]=Identifiser sanger i løpet av sekunder
Comment[nl]=Identificeer nummers binnen enkele seconden
Comment[pl]=Zidentyfikuj jaka to piosenka
Comment[eu]=Abestiak segundotan identifikatu
Comment[oc]=Identificar las cançons en unas segondas
Comment[ja]=数秒間で曲を特定します
Comment[fi]=Tunnista kappaleet sekunneissa
Comment[ar]=تبيَّن الأغاني سريعًا
Comment[uk]=Визначайте пісні за лічені секунди
Comment[hr]=Prepoznaj pjesme u trenu
Comment[hu]=Dalok azonosítása másodpercek alatt
Comment[ro]=Identifică melodiile în secunde
Comment[ne]=सेकेन्डमा गीतहरू पहिचान गर्नुहोस्
Comment[ca]=Identifiqueu cançons en qüestió de segons
Comment[et]=Tuvasta laule sekunditega
Comment[ta]=வினாடிகளில் பாடல்களை அடையாளம் காணவும்
Comment[el]=Εντόπισε τραγούδια σε δευτερόλεπτα
Comment[hi]=सेकंड्स में गाने पहचानें
Comment[ko]=몇 초 안에 노래를 식별합니다
Comment[si]=මොහොතකින් ගීත හඳුනාගන්න
Comment[be]=Вызначце песні за секунды
Comment=Identify songs in seconds
Type=Application
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=mousai io.github.seadve.Mousai
Terminal=false
Categories=GNOME;GTK;Utility;
Keywords[tr]=Shazam;Ses;Müzik;Şarkı;Türkü;Tanıma;Tanımlama;Tanılama;
Keywords[zh_Hans]=Shazam;Audio;Music;Song;Recognize;Identify;Recognition;音频;音乐;歌曲;识别;
Keywords[pt_BR]=Shazam;Áudio;Música;Canção;Reconhecer;Identificar;Reconhecimento;
Keywords[pt]=Shazam; Áudio; Música; Canção; Reconhecer; Identificar; Reconhecimento;
Keywords[it]=Shazam;Audio;Musica;Brano;Brani;Canzone;Canzoni;Riconoscimento;Riconoscere;Identificazione;Identificare;
Keywords[sv]=Shazam;Ljud;Musik;Sång;Känn igen;Identifiera;Igenkänning;
Keywords[cs]=Shazam;Zvuk;Hudba;Skladba;Rozpoznat;Identifikace;Rozpoznávání;
Keywords[ru]=Shazam;Audio;Music;Song;Recognize;Identify;Recognition;музыка;песня;распознать;идентифицировать;
Keywords[de]=Shazam;Audio;Musik;Song;Lied;Erkennen;Identifizieren;Erkennung;
Keywords[fa]=شازام;صوت;موزیک;آهنگ;تشخیص;شناسایی;رسمیت;
Keywords[fr]=Shazam;Audio;Musique;Chanson;Titre;Reconnaître;Identifier;Reconnaissance;
Keywords[es]=Shazam;Audio;Música;Canción;Reconocer;Identificar;Reconocimiento;
Keywords[nl]=Shazam;Audio;Music;Song;Recognize;Identify;Recognition;Geluid;Muziek;Herkennen;Identificeren;Herkenning;
Keywords[fi]=Shazam;Audio;Music;Song;Recognize;Identify;Recognition;tunnista;tunnistus;musiikki;kappale;
Keywords[ar]=شازام;صوت;موسيقى;أغنية;تعرف;تبين;أغاني;اغنية;اغاني;
Keywords[uk]=Shazam;Аудіо;Audio;Music;Музика;Song; Пісня;Recognize;Розпізнати;Identify; Ідентифікувати;Recognition; Розпізнавання;
Keywords[hr]=Shazam;Audio;Zvuk;Glazba;Pjesma;Prepoznaj;Identificiraj;Preoznavanje;
Keywords[hu]=Shazam;Audio;Zene; Dal;Felismerés;Azonosítás;Megismerés;
Keywords[ro]=Shazam;Sunet;Muzică;Melodie;Recunoaște;Identifică;Recunoștință;
Keywords[ca]=Shazam;Àudio;Música;Cançó;Reconeix;Identifica;Reconeixement;
Keywords[ta]=ஷாஜம்;ஒலி;இசை;பாடல்;அறிக;அடையாளம்;அங்கீகரித்தல்;
Keywords[el]=Shazam;Ήχος;Μουσική;Τραγούδι;Αναγνωρίζω;Εξευρίσκω;Αναγνώριση;
Keywords[hi]=शज़ाम;ऑडियो;संगीत;गाना;रेकॉग्नाएस;पहचाने;रेकॉग्नीशन;
Keywords[si]=Shazam;Audio;Music;Song;Recognize;Identify;Recognition;ගීත;
Keywords[be]=Shazam;Audio;Music;Song;Recognize;Identify;Recognition;музыка;песня;распазнаць;ідэнтыфікаваць;
Keywords=Shazam;Audio;Music;Song;Recognize;Identify;Recognition;
Icon=/home/melanie/.icons/Colloid-pink-light/apps/scalable/mousai.svg
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
X-Flatpak=io.github.seadve.Mousai
