[Desktop Entry]
Name[de]=Ressourcen
Name[es]=Resources
Name[fr]=Ressources
Name[it]=Risorse
Name[ka]=Resources
Name[nl]=Systeembronnen
Name[pl]=Zasoby
Name[pt_BR]=Recursos
Name[ru]=Ресурсы
Name[tr]=Kaynaklar
Name[uk]=Ресурси
Name[zh_CN]=Resources
Name[zh_TW]=Resources
Name=Resources
Comment[de]=Systemressourcen im Auge behalten
Comment[es]=Monitoree los recursos del sistema
Comment[pl]=Obserwuj zasoby systemu
Comment[pt_BR]=Monitore os recursos do sistema
Comment[ru]=Отслеживайте системные ресурсы
Comment[uk]=Слідкуйте за системними ресурсами
Comment[zh_CN]=随时关注系统资源
Comment=Keep an eye on system resources
Type=Application
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=resources net.nokyan.Resources
Terminal=false
Categories=System
Keywords[de]=System;Ressourcen;Monitor;Überwachung;Prozesse;Benutzung;Auslastung;Task;Manager;CPU;RAM;Speicher;GPU;
Keywords[es]=Sistema;Recursos;Monitor;Procesos;Uso;Tarea;Admin;CPU;RAM;Memoria;GPU;
Keywords[fr]=Système;Ressources;Moniteur;Processus;Utilisation;Tâches;CPU;RAM;Mémoire;GPU;
Keywords[it]=Sistema;Risorse;Monitor;Processi;Utilizzo;Attività;Gestore;CPU;RAM;Memoria;GPU;
Keywords[ka]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;მეხსიერება;პროცესორი;სისტემა;დატვირთვა;
Keywords[nl]=Systeem;Bronnen;Monitor;Processen;Gebruik;Taak;Beheer;Cpu;Ram;Geheugen;Gpu;
Keywords[pl]=System;Zasoby;Monitor;Procesy;Wykorzystanie;Zadań;Menadżer;CPU;RAM;Pamięć;GPU;
Keywords[pt_BR]=Sistema;Recursos;Monitor;Processos;Uso;Tarefas;Gerenciador;CPU;RAM;Memória;GPU;
Keywords[ru]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;Система;Ресурсы;Процессы;ЦП;ОЗУ;Память;ГП;Монитор;Использование;
Keywords[tr]=Sistem;Kaynaklar;Monitör;İzle;Süreçler;Kullanım;Görev;Yönetici;CPU;İşlemci;RAM;Bellek; GPU;Ekran Kartı;
Keywords[uk]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;система;ресурси;монітор;процеси;менеджер;задачі;процесор;відеокарта;пам'ять;оператива;завис;лаг;
Keywords[zh_CN]=系统;资源;监控;进程;使用情况;任务;管理员;CPU;RAM;存储;储存;GPU;
Keywords[zh_TW]=系統;資源;監控器;處理程序;使用情形;任務;管理員;CPU;RAM;記憶體;GPU;
Keywords=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;
Icon=/home/melanie/.local/share/icons/Colloid-pink-light/apps/scalable/utilities-system-monitor.svg
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
X-Flatpak=net.nokyan.Resources
